//! **************************************************************************
// Written by: Map P.20131013 on Mon Mar 07 11:08:54 2022
//! **************************************************************************

SCHEMATIC START;
COMP "y" LOCATE = SITE "P11" LEVEL 1;
COMP "s0" LOCATE = SITE "P7" LEVEL 1;
COMP "s1" LOCATE = SITE "P17" LEVEL 1;
COMP "a" LOCATE = SITE "P80" LEVEL 1;
COMP "b" LOCATE = SITE "P81" LEVEL 1;
COMP "c" LOCATE = SITE "P82" LEVEL 1;
COMP "d" LOCATE = SITE "P83" LEVEL 1;
SCHEMATIC END;

